@use 'variables.module' as *;

#home-container {
  display: flex;
  flex-direction: column;
  padding: 0 $horizontal-margins;
  width: calc(100% - 2 * $horizontal-margins);
}


#albums-container {
  margin-top: 32px;

  > * {
    margin-bottom: 16px;
  }

  :last-child {
    margin-bottom: 0;
  }
}
