@use 'variables.module' as *;

#navbar,
#logo-container,
#links-container {
  display: flex;
  align-items: center;
}

#navbar {
  justify-content: space-between;
  min-height: 72px;
  width: 100%;
}

#logo-container {
  margin-left: 32px;
}

#links-container {
  margin-right: 32px;
}
